doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width initial-scale=1')
    meta(name='description' content=lang.description)
    title #{lang.title}
    link(rel='stylesheet' type='text/css' media='all' href='/pc/css/style.css')
    block head
  body
    .notice 
      | 目前已无力支持antcolony和findit所需的服务器资源，本站仅用于效果演示。磁力资源爬虫antcolony已开源，
      a(href='https://github.com/keenwon/antcolony' target='_blank') 点击查看
    .header
      .header-brand
        a(href='/') FindIt
      .header-search
        form#form(method='GET' action='/list')
          input#input(type='text' name='q' maxlength='40' autocomplete='off' value=keyword ? keyword : '')
          button(type='submit') #{lang.button}
      .header-right
        a(href='/declare') #{lang.declare}
        a(href='/help') #{lang.help}

    block body

    p.clear  
    .footer
      p
        a.J_Lang(href='javascript:;' data-lang='cn') 中文（简体）
        a.J_Lang(href='javascript:;' data-lang='tw') 中文（繁體）
        a.J_Lang(href='javascript:;' data-lang='en') English
      p Copyright © 2014 findit.so
    script(src=lang.js_jquery)
    script(src=lang.js_jquery_cookie)
    script(src='/pc/js/common.js')
    block foot
