doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width initial-scale=1')
    meta(name='description' content=lang.description)
    title #{lang.title}
    link(rel='stylesheet' type='text/css' media='all' href='/pc/css/style.min.css')
    block head
  body
    .header
      .header-brand
        a(href='/') FindIt
      .header-search
        form#form(method='GET' action='/list')
          input#input(type='text' name='q' maxlength='40' autocomplete='off' value=keyword ? keyword : '')
          button(type='submit') #{lang.button}
      .header-right
        a(href='/declare') #{lang.declare}
        a(href='/help') #{lang.help}

    block body

    p.clear  
    .footer
      p
        a.J_Lang(href='javascript:;' data-lang='cn') 中文（简体）
        a.J_Lang(href='javascript:;' data-lang='tw') 中文（繁體）
        a.J_Lang(href='javascript:;' data-lang='en') English
      p Copyright © 2014 findit.so
    script(src='//cdn.bootcss.com/jquery/1.10.2/jquery.min.js')
    script(src='//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js')
    script(src='/pc/js/common.js')
    block foot
